<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    xmlns:tools="http://schemas.android.com/tools"
    package="io.temco.guhada">

    <dist:module dist:instant="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.NFC" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" tools:node="remove"/>
    <uses-permission android:name="android.permission.REORDER_TASKS" />

    <application
        android:name=".common.BaseApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning">

        <!-- //////////////////////////////// -->
        <!-- ACTIVITY -->
        <!-- //////////////////////////////// -->

        <!-- Test -->
        <activity
            android:name=".view.activity.base.TestListActivity"
            android:screenOrientation="portrait">
            <!--<intent-filter>-->
            <!--<action android:name="android.intent.action.MAIN" />-->
            <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>

        <activity
            android:name=".view.activity.base.TestNfcActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".view.activity.base.FullscreenActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/FullscreenTheme" />

        <!-- Custom View Text -->
        <activity android:name=".view.activity.CustomViewActivity" />

        <!-- Splash -->
        <activity
            android:name=".view.activity.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Main -->
        <activity
            android:name=".view.activity.MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            android:largeHeap="true"/>

        <!-- Category -->
        <activity
            android:name=".view.activity.CategorySubActivity"
            android:screenOrientation="portrait" />

        <!-- Brand -->
        <activity
            android:name=".view.activity.BrandSubActivity"
            android:screenOrientation="portrait" />

        <!-- Login -->
        <activity
            android:name=".view.activity.LoginActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".view.activity.JoinActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".view.activity.FindAccountActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name=".view.activity.TermsActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".view.activity.TempLogoutActivity"
            android:screenOrientation="portrait" />

        <!-- Product Detail-->
        <activity
            android:name=".view.activity.WriteClaimActivity"
            android:screenOrientation="portrait" />

        <activity android:name=".view.activity.CardInterestActivity"
            android:screenOrientation="portrait" />

        <!-- BlockChain-->
        <activity
            android:name=".view.activity.BlockChainHistoryActivity"
            android:screenOrientation="portrait" />

        <!-- Verity -->
        <activity
            android:name=".view.activity.VerifyPhoneActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".view.activity.VerifyActivity"
            android:screenOrientation="portrait" />

        <!-- Payment -->
        <activity
            android:name=".view.activity.PaymentActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".view.activity.PaymentResultActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.PaymentWebViewActivity"
            android:screenOrientation="portrait" />

        <!-- Shipping Address -->
        <activity
            android:name=".view.activity.ShippingAddressActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".view.activity.EditShippingAddressActivity"
            android:windowSoftInputMode="adjustResize"
            android:screenOrientation="portrait" />

        <activity
            android:name=".view.activity.AddShippingAddressActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"/>

        <activity
            android:name=".view.activity.SearchZipWebViewActivity"
            android:screenOrientation="portrait" />

        <!-- Cart -->
        <activity
            android:name=".view.activity.CartActivity"
            android:screenOrientation="portrait" />

        <!-- Mypage -->
        <activity
            android:name=".view.activity.DeliveryDetailActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".view.activity.ReceiptActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".view.activity.ConfirmPurchaseActivity"
            android:screenOrientation="unspecified"
            android:theme="@style/NoTitleBarDialog"
            android:windowSoftInputMode="adjustResize" />

        <activity android:name=".view.activity.TokenHistoryActivity"
            android:screenOrientation="portrait" />


        <!-- Search -->
        <activity
            android:name=".view.activity.SearchWordActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />

        <!-- SideMenu -->
        <activity
            android:name=".view.activity.SideMenuActivity"
            android:screenOrientation="unspecified"
            android:theme="@style/Theme.Transparent"
            android:windowSoftInputMode="stateAlwaysHidden|adjustNothing" />

        <activity
            android:name=".view.activity.MyPageTempLoginActivity"
            android:screenOrientation="unspecified"
            android:theme="@style/Theme.Transparent2"
            android:windowSoftInputMode="stateAlwaysHidden" />


        <!-- Review Write Modify -->
        <activity
            android:name=".view.activity.ReviewWriteActivity"
            android:screenOrientation="unspecified"
            android:theme="@style/NoTitleBarDialog"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".view.activity.ProductFilterListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />

        <activity
            android:name=".view.activity.ProductFragmentDetailActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />

        <!-- Cancel Order -->
        <activity
            android:name=".view.activity.RequestCancelOrderActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />

        <activity
            android:name=".view.activity.SuccessCancelOrderActivity"
            android:screenOrientation="portrait" />

        <!-- Exchange -->
        <activity
            android:name=".view.activity.RequestExchangeActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".view.activity.SuccessRequestExchangeActivity"
            android:screenOrientation="portrait" />

        <!-- Refund -->
        <activity
            android:name=".view.activity.RequestRefundActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".view.activity.SuccessRequestRefundActivity"
            android:screenOrientation="portrait" />

        <!-- Community -->
        <activity
            android:name=".view.activity.CommunityDetailActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />

        <activity
            android:name=".view.activity.CreateBbsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />

        <activity
            android:name=".view.activity.TempBbsListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />

        <!-- Report  -->
        <activity
            android:name=".view.activity.ReportActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />

        <!-- Coupon -->
        <activity
            android:name=".view.activity.CouponDownloadDialogActivity"
            android:screenOrientation="unspecified"
            android:theme="@style/NoTitleBarDialog" />
        <activity
            android:name=".view.activity.CouponSelectDialogActivity"
            android:theme="@style/Theme.Transparent" />

        <!-- get gallery Image file -->
        <activity
            android:name=".view.activity.ImageGetActivity"
            android:screenOrientation="unspecified"
            android:theme="@style/Theme.Transparent2" />

        <!-- Review Point Dialog -->
        <activity
            android:name=".view.activity.ReviewPointDialogActivity"
            android:screenOrientation="unspecified"
            android:theme="@style/Theme.Transparent" />

        <!-- Review Point Dialog -->
        <activity
            android:name=".view.activity.CustomDialogActivity"
            android:screenOrientation="unspecified"
            android:theme="@style/Theme.Transparent" />


        <!-- User Size Update -->
        <activity
            android:name=".view.activity.UserSizeUpdateActivity"
            android:screenOrientation="unspecified"
            android:theme="@style/NoTitleBarDialog"
            android:windowSoftInputMode="adjustResize" />

        <!-- Seller Info -->
        <activity
            android:name=".view.activity.SellerInfoActivity"
            android:screenOrientation="portrait" />

        <!-- User Claim -->
        <activity
            android:name=".view.activity.UserClaimGuhadaActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />

        <activity
            android:name=".view.activity.UserClaimSellerActivity"
            android:screenOrientation="unspecified"
            android:theme="@style/Theme.Transparent2"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />

        <!-- 구하다 토큰 생성 다이얼로그 -->
        <activity
            android:name=".view.activity.GuhadaTokenAddressCreateDialog"
            android:screenOrientation="unspecified"
            android:theme="@style/Theme.Transparent2"
            android:windowSoftInputMode="adjustUnspecified" />


        <activity
            android:name=".view.activity.SchemeActivity"
            android:screenOrientation="unspecified"
            android:launchMode="standard"
            android:noHistory="true"
            android:theme="@style/Theme.Transparent2">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="android.intent.category.DEFAULT"/>

                <data android:host="client" android:scheme="guhada"/>
            </intent-filter>
        </activity>
        <!-- custom web view activity -->
        <activity
            android:name=".view.activity.CustomWebViewActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />

        <activity
            android:name=".view.activity.CustomWebViewEventActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />

        <!-- image detail -->
        <activity
            android:name=".view.activity.PhotoPagerActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />

        <!-- shipping tracking -->
        <activity android:name=".view.activity.ShippingTrackingActivity" />

        <!-- verify email -->
        <activity
            android:name=".view.activity.VerifyUserInfoActivity"
            android:theme="@style/NoTitleBarDialog" />

        <activity
            android:name=".view.activity.UserInfoActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />

        <!-- lucky draw -->
        <activity android:name=".view.activity.LuckyDrawJoinActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".view.activity.LuckyDrawEditActivity"
            android:screenOrientation="portrait"/>

        <!-- Lucky Event -->
        <activity
            android:name=".view.activity.LuckyEventDialogActivity"
            android:screenOrientation="unspecified"
            android:theme="@style/Theme.Transparent2"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />

        <!-- First Purchase Dialog -->
        <activity
            android:name=".view.activity.MainBannerPopupActivity"
            android:screenOrientation="unspecified"
            android:theme="@style/Theme.Transparent2"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />

        <!-- 기획전 상세 -->
        <activity
            android:name=".view.activity.PlanningDealDetailActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />

        <!-- Kakao -->
        <activity
            android:name="com.kakao.auth.authorization.authcode.KakaoWebViewActivity"
            android:launchMode="singleTop"
            android:windowSoftInputMode="adjustResize">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- Facebook -->
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />

        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter><action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="@string/fb_login_protocol_scheme"
                    tools:ignore="ManifestResource" />
            </intent-filter>

        </activity>
        <!-- //////////////////////////////// -->
        <!-- RECEIVER -->
        <!-- //////////////////////////////// -->

        <!-- //////////////////////////////// -->
        <!-- SERVICE -->
        <!-- //////////////////////////////// -->
        <service
            android:name=".common.fcm.FcmMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <!-- //////////////////////////////// -->
        <!-- PROVIDER -->
        <!-- //////////////////////////////// -->

        <!--<provider-->
        <!--android:name="androidx.core.content.FileProvider"-->
        <!--android:authorities="${applicationId}.fileprovider"-->
        <!--android:exported="false"-->
        <!--android:grantUriPermissions="true">-->
        <!--<meta-data-->
        <!--android:name="android.support.FILE_PROVIDER_PATHS"-->
        <!--android:resource="@xml/file_provider" />-->
        <!--</provider>-->

        <!-- //////////////////////////////// -->
        <!-- META DATA -->
        <!-- //////////////////////////////// -->

        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="@string/kakao_app_key" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <meta-data
            android:name="com.facebook.sdk.AutoLogAppEventsEnabled"
            android:value="false" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/fcm_channel_id" />

        <!-- //////////////////////////////// -->


        <!-- Used for Google Play Store Campaign Measurement-->
        <receiver android:name="com.google.android.gms.analytics.CampaignTrackingReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>
        <service android:name="com.google.android.gms.analytics.CampaignTrackingService"
            android:enabled="true"
            android:exported="false" />
        <!--<receiver android:name="com.google.android.gms.measurement.AppMeasurementReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="com.google.android.gms.measurement.UPLOAD" />
                <action android:name="com.android.vending.INSTALL_REFERRER"/>
            </intent-filter>
        </receiver>
        <service android:name="com.google.android.gms.measurement.AppMeasurementService"
            android:enabled="true"
            android:exported="false"/>-->
        <!--<receiver
            tools:node="remove"
            android:name="com.kochava.base.ReferralReceiver">
        </receiver>-->
        <!-- //////////////////////////////// -->


    </application>

    <!--dddd -->
</manifest>