<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="io.temco.guhada">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.NFC" />

    <application
        android:name=".common.BaseApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning">

        <!-- //////////////////////////////// -->
        <!-- ACTIVITY -->
        <!-- //////////////////////////////// -->

        <!-- Test -->
        <activity
            android:name=".view.activity.base.TestListActivity"
            android:screenOrientation="portrait">
            <!--<intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>-->
        </activity>

        <activity
            android:name=".view.activity.base.TestNfcActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".view.activity.base.FullscreenActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/FullscreenTheme" />

        <!-- Custom View Text -->
        <activity android:name=".view.activity.CustomViewActivity" />

        <!-- Splash -->
        <activity
            android:name=".view.activity.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Main -->
        <activity
            android:name=".view.activity.MainActivity"
            android:screenOrientation="portrait"/>

        <!-- Category -->
        <activity
            android:name=".view.activity.CategorySubActivity"
            android:screenOrientation="portrait" />

        <!-- Brand -->
        <activity
            android:name=".view.activity.BrandSubActivity"
            android:screenOrientation="portrait" />

        <!-- Login -->
        <activity
            android:name=".view.activity.LoginActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".view.activity.JoinActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".view.activity.FindAccountActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name=".view.activity.TermsActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".view.activity.TempLogoutActivity"
            android:screenOrientation="portrait" />

        <!-- Product Detail-->
        <activity
            android:name=".view.activity.WriteClaimActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".view.activity.ProductDetailActivity"
            android:screenOrientation="portrait" />

        <!-- BlockChain-->
        <activity
            android:name=".view.activity.BlockChainHistoryActivity"
            android:screenOrientation="portrait" />

        <!-- Verity Phone -->
        <activity
            android:name=".view.activity.VerifyPhoneActivity"
            android:screenOrientation="portrait" />

        <!-- Payment -->
        <activity
            android:name=".view.activity.PaymentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.PaymentResultActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.PaymentWebViewActivity"
            android:screenOrientation="portrait" />

        <!-- Shipping Address -->
        <activity
            android:name=".view.activity.ShippingAddressActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing" />

        <activity
            android:name=".view.activity.EditShippingAddressActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleBarDialog"
            android:windowSoftInputMode="adjustNothing" />

        <activity
            android:name=".view.activity.AddShippingAddressActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleBarDialog"
            android:windowSoftInputMode="adjustNothing" />

        <activity
            android:name=".view.activity.SearchZipWebViewActivity"
            android:screenOrientation="portrait" />

        <!-- Cart -->
        <activity
            android:name=".view.activity.CartActivity"
            android:screenOrientation="portrait" />

        <!-- Mypage -->
        <activity
            android:name=".view.activity.DeliveryDetailActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".view.activity.ReceiptActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".view.activity.SearchWordActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysVisible|adjustResize"/>

        <activity
            android:name=".view.activity.SideMenuActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Transparent"
            android:windowSoftInputMode="stateAlwaysHidden"/>

        <activity
            android:name=".view.activity.ProductFilterListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"/>

        <activity
            android:name=".view.activity.ProductFragmentDetailActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"/>

        <!-- Kakao -->
        <activity
            android:name="com.kakao.auth.authorization.authcode.KakaoWebViewActivity"
            android:launchMode="singleTop"
            android:windowSoftInputMode="adjustResize">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- Facebook -->
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />

        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter><action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="@string/fb_login_protocol_scheme"
                    tools:ignore="ManifestResource" />
            </intent-filter>


        </activity>

        <!-- //////////////////////////////// -->
        <!-- RECEIVER -->
        <!-- //////////////////////////////// -->

        <!-- //////////////////////////////// -->
        <!-- SERVICE -->
        <!-- //////////////////////////////// -->
        <service
            android:name=".common.fcm.FcmMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <!-- //////////////////////////////// -->
        <!-- PROVIDER -->
        <!-- //////////////////////////////// -->

        <!--<provider-->
        <!--android:name="androidx.core.content.FileProvider"-->
        <!--android:authorities="${applicationId}.fileprovider"-->
        <!--android:exported="false"-->
        <!--android:grantUriPermissions="true">-->
        <!--<meta-data-->
        <!--android:name="android.support.FILE_PROVIDER_PATHS"-->
        <!--android:resource="@xml/file_provider" />-->
        <!--</provider>-->

        <!-- //////////////////////////////// -->
        <!-- META DATA -->
        <!-- //////////////////////////////// -->

        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="@string/kakao_app_key" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/fcm_channel_id" />

        <!-- //////////////////////////////// -->
    </application>
</manifest>